body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  color: #333;
  margin: 0;
  padding: 20px;
}

.section {
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.section * {
  margin-left: 10px;
}

h1, h2 {
  color: #4CAF50;
}

.section h2, .section pre {
  margin-left: 0;
}

pre {
  background-color: #e0f7fa;
  padding: 10px;
  border-radius: 5px;
}

.success {
  margin-left: 0;
}

#click #success {
  color: #4CAF50;
  display: none;
  background-color: #e6ffed;
  padding: 10px;
  border-radius: 8px;
}

#intercept .error, #click .error {
  margin-top: 10px;
  color: #fff;
  background-color: lightcoral;
  padding: 10px;
  border-radius: 8px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#click button {
  margin-top: 10px;
}

textarea {
  width: 97%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  margin-bottom: 5px;
  color: #4CAF50;
}

#check label:not(label[for="signature-textarea-with-checkbox"]) {
  margin-left: 0;
}

input[type="checkbox"] {
  margin-left: 10px;
}

#on, #off {
  margin-right: 5px;
}

#check-radio #on-off {
  color: green;
}

strong {
  color: #4CAF50;
}

select {
  width: 98.5%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9fbe7;
}

#file-upload {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0 !important; /*TODO: Find a way to not need !important*/
}

ul li {
  background-color: #f9fbe7;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #333333;
}

ul li:last-child {
  margin-bottom: 0;
}

ul li:hover {
  background-color: #e6ee9c;
  cursor: pointer;
}

a {
  color: #4CAF50;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #2E7D32;
}

input[type="range"] {
  height: 10px;
  margin: 10px 0;
  background-color: #e6ee9c;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #4CAF50;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #4CAF50;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  background-color: #f9fbe7;
  border: none;
  border-radius: 5px;
}

input[type="range"]::-moz-focus-inner {
  border: 0;
}

input[type="date"] {
  appearance: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: #4CAF50;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

input[type="date"]::-moz-placeholder {
  color: transparent;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]:focus {
  border-color: #4CAF50;
}

#password-input input[type="password"], #password-input input[type="text"], #copy-paste input[type="number"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#password-input input[type="password"]:focus, #password-input input[type="text"]:focus, #copy-paste input[type="number"]:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px lightgray;
}

#password-input div label, #password-input div input[type="password"], #password-input div input[type="text"] {
  margin-left: 0;
  margin-top: 20px;
}

#password-input input[type="checkbox"] {
  margin-top: 20px;
}

#copy-paste div {
  margin-left: 0;
  margin-bottom: 20px;
}

#copy-paste form * {
  margin-left: 0;
}

#copy-paste .success {
  margin-left: 10px;
  color: #4CAF50;
  background-color: #e6ffed;
  padding: 10px;
  border-radius: 8px;
}

#copy-paste .error {
  margin-left: 10px;
  color: #fff;
  background-color: lightcoral;
  padding: 10px;
  border-radius: 8px;
}

#copy-paste span {
  margin-left: 0;
}

#copy-paste button {
  margin-left: 10px;
}

footer p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 24px;
  }

  .section {
    padding: 10px;
    margin-bottom: 10px;
  }

  .section * {
    margin-left: 0;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 8px;
  }

  #password-input input[type="password"], #password-input, input[type="text"] {
    margin-top: 10px;
  }

  select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 8px;
  }

  pre {
    font-size: 18px;
  }

  #copy-paste input[type="number"] {
    margin-top: 10px;
  }

  #copy-paste .success, #copy-paste .error {
    margin-left: 0;
  }
}
